.container-fluid
  .console_security
    .row
      %h3 Security Types
      %br
    .row
      %p
        = link_to "Create Security Type", new_admin_security_path
  .console_security
    .row
      %h3 Sectors
      %br
    .row
      %p
        = link_to "Create Sector", new_admin_security_path
  .console_security
    .row
      %h3 Industries
      %br
    .row
      %p
        = link_to "Create Industry", new_admin_security_path
  .console_user
    .row
      %h3 Users
      %br
    .row
      %p
        = render partial: "users/index"
