%h2 All Industries
%br
.container-fluid
  .row
    - @industries.each do |industry|
      .industry.col-md-4
        %p
        = link_to industry.name, industry_tickers_path(industry, industry.tickers)
        %br
%br
.page_links
  = will_paginate @industries