%h2 All Stocks and ETFs
%br
.container-fluid
  .row
    - @tickers.each do |ticker|
      .ticker.col-md-4
        %p
          = link_to ticker.symbol, ticker_path(ticker), class: "btn btn-info btn-large"
        %p 
          = ticker.description
%br
.page_links.apple_pagination
  = will_paginate @tickers